{% extends '../base.html' %}
{% load static %}

{% block title %}
	Reset Password
{% endblock title %}

{% block content %}
<div class="col-12 col-lg-10 mx-auto">
	<div class="card">
		<div class="row">
			<div class="card-body">
				<div class="p-5">
					<h4 class="mt-5 font-weight-bold">Genrate New Password</h4>
					<p class="text-muted">We received your reset password request. Please enter your new password!</p>
					<form method="POST">
						{% csrf_token %}
					<div class="mb-3 mt-5">
						<label class="form-label">New Password</label>
						<input type="password" name="npw" class="form-control" placeholder="Enter new password" />
					</div>
					<div class="mb-3">
						<label class="form-label">Confirm Password</label>
						<input type="password" name="cpw" class="form-control" placeholder="Confirm password" />
					</div>
					<div class="d-grid gap-2">
						<button type="submit" class="btn btn-primary">Change Password</button> <a href="{% url 'login' %}" class="btn btn-light"><i class='bx bx-arrow-back mr-1'></i>Back to Login</a>
					</div>
				</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}